<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoibmlnaHRzcXVpZCIsImEiOiJjbDdkdzc2bm4wNWlmM3BwbDFibWFqZnVnIn0.01xvQrqkrkkSQDl2tqldWg</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_pulse._tcp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Gbboot-ALpM.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
